.demibloc 
  z-index: 2

  position: relative
  overflow: hidden
  background-image: url(../images/x9nes5V.jpg)
  background-size: cover
  background-repeat: no-repeat
  height: 540px
.demiblocFooter 

  position: relative
  overflow: hidden
  background-image: url(../images/W0L2wTw.jpg)
  background-size: cover
  background-repeat: no-repeat
  height: 540px
.demiblocFooter2 

  position: relative
  overflow: hidden
  background-image: url(../images/x9nes5V.jpg)
  background-size: cover
  background-repeat: no-repeat
  height: 500px
.demibloc2 
  z-index: 2

  position: relative

  background: rgba(5, 28, 45, 0.8)
  height: 540px
.demiblocOpacity
  position: relative

  background: rgba(5, 28, 45, 0.8)
  height: 540px
.demiblocClient
  position: relative
  overflow: hidden
  background-image: url(../images/x9nes5V.jpg)
  background-size: cover
  background-repeat: no-repeat
  height: 400px

.demiblocClientOpacity 
  position: relative

  background: rgba(5, 28, 45, 0.8)
  height: 540px